[defaults]
inventory              = inventory/nautobot.yml
filter_plugins         = filter_plugins
roles_path             = roles
host_key_checking      = False
retry_files_enabled    = False
stdout_callback        = yaml
bin_ansible_callbacks  = True
interpreter_python     = auto_silent
forks                  = 10
timeout                = 30
display_skipped_hosts  = False

[persistent_connection]
connect_timeout        = 60
command_timeout        = 60

[inventory]
enable_plugins         = networktocode.nautobot.inventory, host_list, script, auto, yaml, ini
